.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.MainForm{
  width: 100vw;
  height: 100vh;
}

.center{
  width: 25vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  box-shadow: rgb(38, 57, 77) -5px 10px 10px 6px;
  margin-top: 14%;
  padding: 5px;
}

.btn1{
  width: 300px;
  height: 35px;
  background-color:orange;
  cursor: pointer;
}

.heading{
  color:orange;
}

.ip{
  width: 300px;
  height: 35px;
  border:1px solid black;
  background-color:whitesmoke;
}

